# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lock
.metadata/.log
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
*.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
*.prefs
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
*.ini
.metadata/*
ReinforcementLearning/bin/*
ReinforcementLearning/.project
ReinforcementLearning/.classpath
RemoteSystemsTempFiles/.project